---
import "../global.css"
import LayoutLanding from "../layouts/Landing.astro"
import Link from "../components/Link.vue"
import Heading1 from "../components/Heading1.vue"
import Section from "../components/Section.vue"
import Paragraph from "../components/Paragraph.vue"
import HCard from "../components/HCard.vue"
import HCardEmail from "../components/HCardEmail.vue"
import HCardLink from "../components/HCardLink.vue"
---


<LayoutLanding title="Ahoi" href="/">
  <Section neutral focus slot="main">
    <Heading1>Ahoi</Heading1>
  </Section>
  <Section neutral slot="main">
    <Paragraph>
      Ich bin Jérôme <Link 
        href="https://fr-audio.howtopronounce.com/1618555814607933a68bf4f.mp3" 
        target="_blank"
        rel="noopener noreferrer">
        /ʒe.ʁom/
      </Link>  Imfeld. Ich bin Web-Entwickler und erarbeite Lösungen für kleine Unternehmungen, die ihre Internetpräsenz verbessern oder Arbeitsflüsse digitalisieren möchten. Ich tue das seit 7 Jahren, als Teil eines bestehenden Teams oder als Lieferant einzelner Sachen.
    </Paragraph>
    <HCard>
      <HCardEmail
        class="block"
        email="ahoi@zolo.dev" 
        title="E-Mail">
        e-mail: ahoi@zolo.dev
      </HCardEmail>
      <HCardLink
        class="block"
        href="https://threema.id/8UFC3385"
        title="Threema">
        threema: 8UFC3385
      </HCardLink>
    </HCard>
  </Section>
</LayoutLanding>