---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Link from "../components/Link.vue"
import Heading1 from "../components/Heading1.vue"
import Paragraph from "../components/Paragraph.vue"
import HCard from "../components/HCard.vue"
import HCardEmail from "../components/HCardEmail.vue"
import HCardLink from "../components/HCardLink.vue"
---


<LayoutDefault title="Ahoi">
  <nav slot="header">
    <ul>
      <Link href="/" title="Ahoi" aria-current="page">AHOI</Link>
      <Link href="agb" title="AGB">AGB</Link>
    </ul>
  </nav>

  <Heading1 slot="main">Ahoi</Heading1>
  <Paragraph slot="main" class="mb-4">
    Ich bin Jérôme Imfeld. Ich bin Web-Entwickler und denke mir für kleine Unternehmungen Lösungen aus, wo die Ressourcen knapp sind. Ich tue das seit 7 Jahren und kann alles Mögliche rund um Web- oder Desktop-Applikationen in Angriff nehmen, als Teil eines bestehenden Teams oder als Lieferant einer einzelnen Sache.
  </Paragraph>
  <HCard slot="main">
    <HCardEmail
      class="block"
      email="ahoi@zolo.dev" 
      title="E-Mail">
      e-mail: ahoi@zolo.dev
    </HCardEmail>
    <HCardLink
      class="block"
      href="https://threema.id/8UFC3385"
      title="Threema">
      threema: 8UFC3385
    </HCardLink>
  </HCard>
</LayoutDefault>