---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading1 from "../components/Heading1.vue"
import Heading2 from "../components/Heading2.vue"
import Section from "../components/Section.vue"
import HCard from "../components/HCard.vue"
import HCardName from "../components/HCardName.vue"
import HCardAdr from "../components/HCardAdr.vue"
import HCardStreet from "../components/HCardStreet.vue"
import HCardZip from "../components/HCardZip.vue"
import HCardLocality from "../components/HCardLocality.vue"
import HCardCountry from "../components/HCardCountry.vue"
import HCardEmail from "../components/HCardEmail.vue"
import Paragraph from "../components/Paragraph.vue"
import Link from "../components/Link.vue"

const href = "/legal";
const title = "Rechtliche Informationen - Jérôme Imfeld";
const description = "Rechtliche Informationen zu dieser Seite und den Dienstleistungen von Jérôme Imfeld."
const preloads = [
 {
   href: "/assets/JetBrainsMono-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 },
 {
   href: "/assets/JetBrainsMono-Italic-VariableFont_wght.woff2",
   as: "font",
   crossorigin: "anonymous",
 }
];
---


<LayoutDefault
  href={href}
  title={title}
  description={description}
  preloads={preloads}>
  <Section neutral focus slot="main">
    <Heading1>Rechtliches</Heading1>
  </Section>
  <Section focus slot="main">
    <Heading2 visual="h3">Inhaber</Heading2>
    <HCard class="font-thin leading-snug">
      <HCardName>Jérôme Imfeld</HCardName><br>
      <HCardAdr>
        <HCardStreet>Grätzlistrasse 3</HCardStreet><br>
        <HCardZip>8152</HCardZip>&nbsp;<HCardLocality>Opfikon</HCardLocality><br>
        <HCardCountry>Schweiz</HCardCountry>
      </HCardAdr><br>
      <HCardEmail
        class="block"
        email="ahoi@zolo.dev"
        title="E-Mail"
        focus>
        e-mail: ahoi@zolo.dev
      </HCardEmail>
    </HCard>
  </Section>
  <Section focus slot="main">
    <Heading2 visual="h3">AGB</Heading2>
    <Paragraph>
      Auf <Link
        href="https://github.com/zolosake/legal/blob/main/AGB.md"
        title="AGB"
        rel="noreferrer">
        Github</Link> ansehen
    </Paragraph>
  </Section>
</LayoutDefault>