---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading1 from "../components/Heading1.vue"
import Heading2 from "../components/Heading2.vue"
import Section from "../components/Section.vue"
import HCard from "../components/HCard.vue"
import HCardName from "../components/HCardName.vue"
import HCardAdr from "../components/HCardAdr.vue"
import HCardStreet from "../components/HCardStreet.vue"
import HCardZip from "../components/HCardZip.vue"
import HCardLocality from "../components/HCardLocality.vue"
import HCardCountry from "../components/HCardCountry.vue"
import HCardEmail from "../components/HCardEmail.vue"
import Paragraph from "../components/Paragraph.vue"
import Link from "../components/Link.vue"
---


<LayoutDefault title="Rechtliches" href="/rechtliches">
  <Section neutral slot="main">
    <Heading1>Rechtliches</Heading1>
  </Section>
  <Section slot="main">
    <Heading2 visual="h3">Inhaber</Heading2>
    <HCard class="font-thin leading-snug">
      <HCardName>Jérôme Imfeld</HCardName><br>
      <HCardAdr>
        <HCardStreet>Grätzlistrasse 3</HCardStreet><br>
        <HCardZip>8152</HCardZip>&nbsp;<HCardLocality>Opfikon</HCardLocality><br>
        <HCardCountry>Schweiz</HCardCountry>
      </HCardAdr><br>
      <HCardEmail
        email="ahoi@zolo.dev"
        title="E-Mail">
        e-mail: ahoi@zolo.dev
      </HCardEmail>
    </HCard>
  </Section>
  <Section slot="main">
    <Heading2 visual="h3">AGB</Heading2>
    <Paragraph>
      <Link
        href="/resources/pdf/AGB-J-Imfeld-180722.pdf"
        title="AGB"
        target="_blank">
        PDF
      </Link>
      im Browser ansehen, herunterladen oder ausdrucken.
    </Paragraph>
  </Section>
</LayoutDefault>