---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading1 from "../components/Heading1.vue"
import Heading2 from "../components/Heading2.vue"
import HCard from "../components/HCard.vue"
import HCardFname from "../components/HCardFname.vue"
import HCardLname from "../components/HCardLname.vue"
import HCardEmail from "../components/HCardEmail.vue"
import Link from "../components/Link.vue"
---


<LayoutDefault title="Rechtliches" href="/rechtliches">
  <Heading1 slot="main">Rechtliches</Heading1>
  <section slot="main" class="mb-4">
    <Heading2>Inhaber</Heading2>
    <HCard class="font-thin">
      <HCardFname>Jérôme</HCardFname>&nbsp;<HCardFname>Imfeld</HCardFname>
    </HCard>
  </section>
  <section slot="main">
    <Heading2>AGB</Heading2>
    <Link href="/pdf/AGB-J-Imfeld-180722.pdf" title="AGB">PDF</Link>
  </section>
</LayoutDefault>