---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading1 from "../components/Heading1.vue"
import Heading2 from "../components/Heading2.vue"
import Section from "../components/Section.vue"
import Paragraph from "../components/Paragraph.vue"
import Link from "../components/Link.vue"
import Posts from "../components/Posts.vue"

import { workPosts } from "../contents.js"
---


<LayoutDefault
  href="/work"
  title="Jüngste Arbeiten - Jérôme Imfeld"
  description="Auswahl der jüngsten Arbeiten von Jérôme Imfeld.">
  <Section neutral focus slot="main">
    <Heading1><span lang="en">Work</span></Heading1>
  </Section>
  <Posts client:load items={workPosts} slot="main"></Posts>
</LayoutDefault>
