---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import LayoutLanding from "../layouts/Landing.astro"
import Heading1 from "../components/Heading1.vue"
import Heading2 from "../components/Heading2.vue"
import Section from "../components/Section.vue"
import Paragraph from "../components/Paragraph.vue"
import Link from "../components/Link.vue"
import Posts from "../components/Posts.vue"

const posts = [
  { 
    title: "Customer Map",
    description: "Geschlossene Web-Applikation, um bestimmte Arbeitsschritte bei der Kundengewinnung zu erleichtern.",
    meta: [
      { key: "Features", value: "Selektive Anzeige von Kundengruppen. Selektive Suche nach Neukunden mittels einstellbarer Schlüsselwörter und Ortschaft. Suchfunktion für Ortschaften und automatische Anzeige aktueller Kennzahlen des Gemeindeportraits. Shortcuts für Telefon, Website und Reiseroute. Ablagefunktion für neue Adressen. Einstellbares Karten-Theme. Dark- und Light-UI." },
      { key: "Front", value: "hybrids, tailwind" },
      { key: "Back", value: "slim, dbdb, gcp, cyon" },
      { key: "Specs", value: "UIS frei, FS teilweise gegeben" }
    ],
    media: [
      {
        type: "image",
        sourceSet: [
          "/resources/images/work-customer-map-2-w800.png 800w",
          "/resources/images/work-customer-map-2-w1200.png 1200w",
          "/resources/images/work-customer-map-2-w1600.png 1600w",
          "/resources/images/work-customer-map-2-w2000.png 2000w",
          "/resources/images/work-customer-map-2-w2400.png 2400w",
          "/resources/images/work-customer-map-2-w2800.png 2800w"
        ],
        alt: "Customer Map in dark mode with reduced default map theme.",
        width: 3,
        height: 2,
        classes: "object-cover object-right-top"
      },
      {
        type: "image",
        sourceSet: [
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/800 800w',
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/600 600w',
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/2400 2400w',
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/1000 1000w',
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/2000 2000w',
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/1200 1200w',
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/1400 1400w',
          'https://imagedelivery.net/klp-jTetJGIJ9S2pnnAsDQ/dfbfdc08-a154-4435-f68a-82c3efd29800/1600 1600w'
        ],
        alt: "Customer Map in dark mode with night map theme.",
        width: 3,
        height: 2,
        classes: "object-cover object-right-top"
      },
      {
        type: "image",
        sourceSet: [
          "/resources/images/work-customer-map-3-w800.png 800w",
          "/resources/images/work-customer-map-3-w1200.png 1200w",
          "/resources/images/work-customer-map-3-w1600.png 1600w",
          "/resources/images/work-customer-map-3-w2000.png 2000w",
          "/resources/images/work-customer-map-3-w2400.png 2400w",
          "/resources/images/work-customer-map-3-w2800.png 2800w"
        ],
        alt: "Customer Map in light mode with reduced default map theme.",
        width: 3,
        height: 2,
        classes: "object-cover object-right-top"
      }
    ]
  },
  { 
    title: "Appointment Scheduler",
    description: "",
    meta: [
      { key: "Features", value: "" },
      { key: "Front", value: "json" },
      { key: "Back", value: "hono, sqlite, bun" },
      { key: "Specs", value: "frei" }
    ],
    media: []
  },
]
---


<LayoutLanding title="Work" href="/work">
  <Section neutral focus slot="main">
    <Heading1>Work</Heading1>
  </Section>
  <Posts client:load items={posts} slot="main"></Posts>
</LayoutLanding>
