---
import "../global.css"
import LayoutDefault from "../layouts/Default.astro"
import Heading1 from "../components/Heading1.vue"
import Heading2 from "../components/Heading2.vue"
import Section from "../components/Section.vue"
import Paragraph from "../components/Paragraph.vue"
import Link from "../components/Link.vue"
import Posts from "../components/Posts.vue"

import { workPosts } from "../contents.js"
---


<LayoutDefault title="Work" href="/work">
  <Section neutral focus slot="main">
    <Heading1>Work</Heading1>
  </Section>
  <Posts client:load items={workPosts} slot="main"></Posts>
</LayoutDefault>
