@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'JetBrains Mono';
    font-display: auto;
    font-weight: 100 900;
    font-style: normal;
    font-optical-sizing: auto;
    src: url('JetBrainsMono-VariableFont_wght.woff2') format('woff2');
  }

  @font-face {
    font-family: 'JetBrains Mono';
    font-display: auto;
    font-weight: 100 900;
    font-style: italic;
    font-optical-sizing: auto;
    src: url('JetBrainsMono-Italic-VariableFont_wght.woff2') format('woff2');
  }

  /* light mode */
  :root {
    --system-bg: #fbfbfb;
    --system-fg: #1d1d1f;
    --action-fg: #38bdf8;
  }

  /* dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --system-bg: #303030;
      --system-fg: #fff;
      --action-fg: #38bdf8;
    }
  }

  /* browsers without `color-scheme` support */
  @supports not (color-scheme: light dark) {
    html {
      background: var(--system-bg);
      color: var(--system-fg);
    }
  }

  /* browsers with `color-scheme` and system colors support 
     NB: Firefox must be set to "System theme" for this to auto-switch based
     on os system preferences
  */
  @supports (color-scheme: light dark)
    and (background-color: canvas)
    and (color: canvastext) {
    :root {
      --system-bg: canvas;
      --system-fg: canvastext;
    }
  }

  /* ios safari hack */
  @supports (background-color: -apple-system-control-background)
    and (color: text) {
    :root {
      --system-bg: -apple-system-control-background;
      --system-fg: text;
    }
  }

  /* :root{
    font: -apple-system-body;
  } */
}




@layer utilities {
  .h1 {
    @apply mb-6 font-mono font-black text-6xl;
  }

  .h2 {
    @apply mb-2 font-mono font-medium italic text-base;
  }

  .h3 {
    @apply font-mono font-medium italic text-base;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}