---
import HeaderPrimaryDynamic from "../components/HeaderPrimaryDynamic.vue"
import NavPrimary from "../components/NavPrimary.vue"
import Main from "../components/Main.vue"
import FooterPrimary from "../components/FooterPrimary.vue"
import Sentinel from "../components/Sentinel.vue"

import { navItems } from "../contents.js"

const { title, href, description } = Astro.props
---


<html lang="de-CH">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="googlebot" content="notranslate">
  </head>
  <body class="min-h-screen font-mono">
    <HeaderPrimaryDynamic client:load>
      <NavPrimary href={href} links={navItems}/>
      <slot name="header"></slot>
    </HeaderPrimaryDynamic>
    <Sentinel client:load />
    <Main>
      <slot name="main"></slot>
    </Main>
    <FooterPrimary>
      <slot name="footer"></slot>
    </FooterPrimary>
  </body>
</html>
