---
import MainHeaderDynamic from "../components/MainHeaderDynamic.vue"
import MainNav from "../components/MainNav.vue"
import Main from "../components/Main.vue"
import MainFooter from "../components/MainFooter.vue"
import Sentinel from "../components/Sentinel.vue"

const { title, href, description } = Astro.props
---


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="google" value="notranslate">
  </head>
  <body class="min-h-screen font-mono">
    <MainHeaderDynamic client:load>
      <MainNav href={href} />
      <slot name="header"></slot>
    </MainHeaderDynamic>
    <Sentinel client:load />
    <Main>
      <slot name="main"></slot>
    </Main>
    <MainFooter>
      <slot name="footer"></slot>
    </MainFooter>
  </body>
</html>
