---
import MainHeader from "../components/MainHeader.vue"
import MainNav from "../components/MainNav.vue"
import Main from "../components/Main.vue"
import MainFooter from "../components/MainFooter.vue"

const { title, href, description } = Astro.props
---


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="google" value="notranslate">
  </head>
  <body class="min-h-screen font-mono">
    <MainHeader class="fixed top-0 w-full p-8 bg-system-bg md:bg-transparent border-b md:border-b-0">
      <MainNav href={href} />
      <slot name="header"></slot>
    </MainHeader>
    <Main class="min-h-screen-px px-8 pt-[7rem] pb-8 border-b">
      <slot name="main"></slot>
    </Main>
    <MainFooter>
      <slot name="footer"></slot>
    </MainFooter>
  </body>
</html>
